{% load static %}
<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
	<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

	<title> {% block title %}
		{% if title %} {{ title }} | {% endif %} {% endblock %} Test task
	</title>
	{% block head %}{% endblock %}

</head>
<body>
{% block menu %}
	{% include 'inc/menu.html' with current_page=current_page %}
{% endblock %}
<div class="container bg-light mt-5 p-4">
	{% block content %}{% endblock %}
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

{% block script %}{% endblock %}


</body>
</html>