<div>
	<nav class="navbar navbar-expand-lg navbar-dark bg-info">
		<div id="navbarNavDropdown" class="navbar-collapse collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'transaction-list' %}">Transactions</a>
				</li>
				<li class="nav-item">
          <a class="nav-link" href="{% url 'status-list' %}">Statuses</a>
{#					<a class="nav-link" href="{% url 'feeds' %}">News feed</a>#}
				</li>
				<li class="nav-item">
{#					<a class="nav-link" href="{% url 'all-blog-list' %}">Other blogs</a>#}
				</li>
			</ul>
		</div>
	</nav>
</div>